body{
    margin: 0px;
    text-align: center;
}

header .title{
    font-family: 'BluuNextBold';
    font-size:xx-large;
}

nav a{
	color: blue;
    text-decoration: none;
    font-weight: 500;
}

nav a:hover {
  color: hotpink;
  cursor: pointer;
  text-decoration: underline;
}

.container{
    display: flex;
    margin: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly; 
}

.align-left{
    display: flex;
    justify-content: flex-start;
}